@media (max-width: 600px) {
    .weather-forecast {
        width: 100%;
    }

    .seven-day-fc {
        border-top: 1px solid black;
    }

    .seven-day-fc:last-of-type {
        border-bottom: 1px solid black;
    }

    .seven-day-fc .date {
        width: 30%;
    }

    .seven-day-fc .seven-day-temp {
        width: 30%;
    }
}

@media (min-width: 601px) {
    body {
        font-size: 1em;
    }

    .weather-forecast {
        width: 100%;
        box-shadow: 0 1px 4px black;
    }

    .seven-day-fc {
        display: inline-block;
        width: 13.5%;
        margin: 0;
        border: none;
        font-size: 0.8em;
    }

    .seven-day-fc div {
        display: block;
        text-align: center;
    }

    .seven-day-fc .date {
        text-align: center;
    }

    .seven-day-fc .temp-low,
    .seven-day-fc .temp-high {
        display: inline;
    }

    .seven-day-fc .seven-day-temp {
        font-size: 1.25em;
    }

    .seven-day-fc .icon {
        width: 64px;
        height: 64px;
    }
}

@media (min-width: 360px){
    body {
        font-size: 1.0em;
    }
}

@media (min-width: 500px) {
    .seven-day-fc .temp-high,
    .seven-day-fc .temp-low {
        display: inline-block;
        width: 45%;
    }

    .seven-day-fc .seven-day-temp {
        margin-left: 5%;
    }

    .seven-day-fc .icon {
        width: 64px;
        height: 64px;
    }
}

@media (min-width: 700px) {
    .weather-forecast {
        width: 700px;
    }
}