*{
    box-sizing: border-box;
}

h1,body{
    margin: 0;
    font-family: 'Dancing Script', cursive;
}

img {
    max-width: 100%;
    display: block;
    min-height: 100%;
  }


  .gallery-container{
    margin-top: 50px;

    padding-left: 15px;
    padding-right: 15px;

    
    max-width: 1140px;
    margin-left: auto;
    margin-right: auto;
}


.gallery-title{
    padding-bottom: 30px;
    margin: 0;
    font-weight: bold;
    font-size: 46px;
    

    text-align: center;

    color: #000000;
}

.cards-wrapper{
    display:flex;
    flex-wrap: wrap;

    justify-content: space-between;
}


.card{
    margin-bottom: 30px;
    
    
     max-width: 540px; 
    

    box-shadow: 0px 10px 40px 
                            rgba(126, 155, 189, 0.35);

    background-color:white;

}